client_id = "d5c2c1a8c17dd6991cde68226e9a0c52"
name = "test4"
application_url = "https://test-shopify-app-pi.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_orders,read_customers"

[auth]
redirect_urls = [
  "https://test-shopify-app-pi.vercel.app/auth/callback"
]
